* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: transparent;
  overflow: hidden;
  -webkit-app-region: drag;
}

canvas {
  display: block;
  -webkit-app-region: no-drag;
}
